<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Mikes App</title>
 </head>
 <body>
   <h1> Hello {{name}} </h1>
   <form action="/result" method="post">
     First name:<br>
     <input type="text" name="firstname" value="Mickey"><br>
     <br>

     Last name:<br>
     <input type="text" name="lastname" value="Mouse"><br>
     <br>

     Gender:<br>
     <select name=gender>
       <option value="">bitte auswählen</option>
       <option value="Frau">Weiblich</option>
       <option value="Mann">Männlich</option>
       <option value="Transe">Transsexual</option>
     </select><br><br>

     <input type="submit" value="Abspeichern">
   </form>

 </body>
</html>
