{% extends "template.html" %}
{% block body %}
    {% if error in "true" %}
        <div class="alert alert-danger" role="alert">Oh, etwas ist schief gelaufen. Bitte versuche es erneut! {{error_text}}</div>
    {% endif %}
    <a class="btn btn-primary btn-block btn=lg" role="button" href="https://slack.com/oauth/authorize?scope=users.profile:read users.profile:write emoji:read&client_id=14917766709.693327534246&redirect_uri=https://slack-auth.herokuapp.com/grant" target="_self">
      Slack installieren
    </a>
{% endblock %}