{% extends "template.html" %}
{% block body %}
    {% if msg_type in "success" %}
        <div class="alert alert-success" role="alert">{{msg_text}}</div>
    {% elif msg_type in "danger"%}
        <div class="alert alert-danger" role="alert">{{msg_text}}</div>
    {% endif %}

    <form action="/" method="get">
     https://slack-auth.herokuapp.com/setstate?<br>
        <table>
            <tr>
                <td>
                    userid=<input type="text" name="userid" value={{userId}} readonly>
                </td>
            </tr>
            <tr>
                <td>
                    status_text=<input type="text" name="status_text" value="I'm happy">
                </td>
            </tr>
            <tr>
                <td>
                    status_emoji=<input type="text" name="status_emoji" value=":smile:">
                </td>
            </tr>
        </table>
     <br>
     <br>

     <input type="submit" value="Status setzen">
   </form>
    <a href=https://slack-auth.herokuapp.com/setstate?userid={{userId}}&status_text=Happy&status_emoji=:smile:>https://slack-auth.herokuapp.com/setstate?userid={{userId}}&status_text=Happy&status_emoji=:smile:</a>
{% endblock %}