{% extends "template.html" %}
{% block body %}
    {% if msg_type in "success" %}
        <div class="alert alert-success" role="alert">{{msg_text}}</div>
    {% elif msg_type in "danger"%}
        <div class="alert alert-danger" role="alert">{{msg_text}}</div>
    {% endif %}

    <form action="/setstate" method="get">
     https://slack-auth.herokuapp.com/setstate?<br>
        <table>
            <tr>
                <td>
                    userid=
                </td>
                <td>
                    <input type="text" name="userid" value={{userId}} readonly>
                </td>
            </tr>
            <tr>
                <td>
                    status_text=
                </td>
                <td>
                    <input type="text" name="status_text" value={{status_text}}>
                </td>
            </tr>
            <tr>
                <td>
                    status_emoji=
                </td>
                <td>
                    <input type="text" name="status_emoji" value={{status_emoji}}>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Status setzen">
                </td>
                <td>
                </td>
            </tr>

        </table>
   </form>
    <a href=https://slack-auth.herokuapp.com/setstate?userid={{userId}}&status_text={{status_text}}&status_emoji={{status_emoji}}>https://slack-auth.herokuapp.com/setstate?userid={{userId}}&status_text={{status_text}}&status_emoji={{status_emoji}}</a>
{% endblock %}